* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #282d35;
  color: #ffffff;
}

.header-bar {
  background-color: #21222a;
  height: 91px;
  padding: 5px 28px;
}

.nav-bar {
  display: flex;
  color: #00d8ff;
  align-items: center;
  height: 100%;
  top: 26;
  left: 31;
}

.nav-bar > .nav-logo {
  width: 28.93px;
  margin-right: 7px;
}

.nav-bar > .nav-text {
  width: 122.39px;
  height: 22.25px;
  color: #61dafb;
  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

main {
  padding: 60px 30px;
  background-image: url('../public/logo512.png');
  background-repeat: no-repeat;
  background-position: right 65%;
}

main > h1 {
  margin: 0;
  font-size: 2.4rem;
}

.facts-list {
  margin-top: 46px;
  max-width: 400px;
}

.facts-list > li {
  padding-block: 10px;
  line-height: 19px;
}

.facts-list > li::marker {
  color: #00d8ff;
  font-size: 1.5rem;
}
